@font-face {
  font-family: Montserrat-regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-thin;
  src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: GochiHand-Regular;
  src: url(../fonts/GochiHand-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat-regular', sans-serif;}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.header {
  background-color: #ff7f00;
  height: 66px;
  font-size: 19px;
}

.header-content {
  width: 100%;
  height: 100%;
}

.main-container {
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

.images-content {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.images-container {
  background-color: #e3e3e3;
}

.img-option {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  margin-top: 1.875rem;
}

.canvas-editor-container {
  padding-left: 0;
  background-color: #e3e3e3;
}

.text-input {
  width: 373px;
  height: 60px;
  border-radius: 12px;
  background-color: #ffffff;
  text-align: center;
  line-height: 60px;
  font-size: 28px;
}

.canvas-container {
  width: 100%;
  text-align: center;
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: #ffffff;
  margin: 10px 10px 40px;
}

.icon-btn {
  width: 40px;
  height: 40px;
  position: relative;
}

.color-picker-fill, .color-picker-stroke {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.about{
height: 565px;
font-size: 20px;
}

.about-pic{
  width: 322px;
  height: 322px;
}

.about-pic img {
  max-width:100%;
  max-height:100%;
  border-radius: 50%;
  object-fit: cover;
}

.social-media-icon{
  margin-right: 5px;
  height: 40px;
  width: 40px;
  background-color:  #ff7f00;
  border-radius: 12px;
  color: #fff;
}

.footer {
  width: 100%;
  height: 210px;
  background-color: #ff7f00;
}

/* Helpers */

.flex {
  display: flex;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}