* {
	box-sizing: border-box;
}

html {
	font-family: Impact;
}

body {
	margin: 0;
	padding: 0;
	background-color: darkgray;
}
.main-container{
  width: 1020px;
  margin-left: 50px;  
}

.canvas-editor-container{
padding-left: 0;
}

.text-input {
width: 373px;
height: 60px;
border-radius: 12px;
background-color: #ffffff;
text-align: center;
line-height:60px;
}

.canvas-container {
	width: 100%;
	text-align: center;
}

.img-option {
	width: 250px;
	height: auto;
	cursor: pointer;
}

.icon-container {
	width: 60px;
	height: 60px;
	border-radius: 12px;
	background-color: #ffffff;
  margin: 10px 10px 40px ;

}

.icon-btn {
	width: 40px;
	height: 40px;
}


/* Helpers */

.flex{
  display: flex;
}

.flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn-pointer{
cursor: pointer;
}
